<%# Partial used for form "Add a new car" and "Edit car details" %>
<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div class="form-group"> 
    <%= form.label :brand, style: "display: block" %>
    <%= form.text_field :brand, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :car_model, style: "display: block" %>
    <%= form.text_field :carmodel, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Description_of_car, style: "display: block" %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price_per_day_in_€, style: "display: block" %>
    <%= form.text_field :price, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.number_field :user_id, id: :car_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
